In [1]:
import pandas as pd
from pylab import rcParams
import seaborn as sb
from scipy.stats.stats import kendalltau
from pandas_profiling import ProfileReport

In [11]:
#reading dataset

data = pd.read_csv("ckdu_dataset/CKDU_14m_AVG.csv", na_values=['#DIV/0!'])

In [12]:
#dropping columns that have more than 80% of empty values

data.dropna(axis=1, how="any", thresh=.8, subset=None, inplace=True)

In [13]:
#filling the NaN values with mean of that column

data.fillna(data.mean(), inplace=True)

C:\Users\DELL\AppData\Local\Temp/ipykernel_27004/3588873390.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.fillna(data.mean(), inplace=True)

In [14]:
#converting categorical data types "Filtered water" and "Rain water" in "water source" column in to int

data['Water source'].replace(['Filtered water', 'Rain water'],[0, 1], inplace=True)

In [15]:
#converting categorical data types "M" and "F" in "gender" column in to int

data['gender'].replace(['M', 'F'],[0, 1], inplace=True)

In [17]:
data

,patientId,age,gender,foPeriod,AVG_weight,height,AVG_BMI,Av.S.CR,Av.EGFR,AVG_stage,...,Average_ACR,AVG_BPS_14,AV_BPD_14,Sys Av,Dia Av,Avg OD,Water source,water_intake,AVG_OD_L,AVG_OD_R
0,1,58,1,30,59.116667,1.42,26.841667,1.680000,38.6,2.909091,...,89.44951591,95.300000,60.000000,95.300000,60.000000,23.000000,0,3.0,48.260000,45.912000
1,2,52,1,30,61.400000,1.54,10.808333,1.160000,63.6,3.391775,...,134.0491228,108.800000,70.200000,108.800000,70.200000,25.416667,1,3.0,55.523333,52.588000
2,3,60,0,30,45.825000,1.63,10.066667,1.980000,41.6,3.391775,...,105.8431729,105.833333,66.500000,105.833333,66.500000,23.416667,Spring water,2.5,52.950000,50.240000
3,4,68,0,38,62.408333,1.63,21.516667,2.060000,37.8,3.000000,...,85.79504012,131.909091,79.000000,131.909091,79.000000,25.000000,0,3.0,63.581818,60.498182
4,5,53,0,36,47.600000,1.50,15.925000,2.500000,32.8,3.391775,...,112.4831309,116.333333,73.777778,116.333333,73.777778,23.583333,Spring water,4.0,58.294444,55.197778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,102,40,0,10,46.325000,1.61,17.850000,2.721206,46.8,3.000000,...,112.6972522,106.000000,72.636364,106.000000,72.636364,24.300000,0,3.0,55.714545,52.330182
102,103,63,0,10,54.833333,1.60,16.041667,2.721206,34.4,3.391775,...,140.5282577,127.250000,76.875000,127.250000,76.875000,27.425000,0,3.0,62.285000,59.367000
103,104,54,0,8,59.540000,1.55,20.675000,2.721206,18.8,3.391775,...,137.0548551,95.300000,61.200000,95.300000,61.200000,25.625000,0,3.0,49.265000,46.878000
104,105,61,0,7,44.333333,1.67,11.866667,2.500000,36.0,3.391775,...,147.9666667,83.000000,52.428571,83.000000,52.428571,25.575000,0,3.0,43.286429,41.458000
105,106,62,0,7,52.085714,1.61,11.741667,2.721206,29.4,3.391775,...,215.7965194,122.000000,82.571429,122.000000,82.571429,26.450000,Spring water,2.5,63.218571,59.348000

In [27]:
data[data.columns[1:]].corr(method='kendall')['AVG_stage'][:]

age            -0.032313
gender          0.054638
foPeriod        0.029338
AVG_weight     -0.047951
height         -0.013708
AVG_BMI        -0.124071
Av.S.CR         0.395152
Av.EGFR        -0.427400
AVG_stage       1.000000
AV.M.Al         0.230872
AVG_BPS_14      0.090919
AV_BPD_14       0.100256
Sys Av          0.090919
Dia Av          0.100256
Avg OD         -0.099652
water_intake   -0.064473
AVG_OD_L        0.064081
AVG_OD_R        0.053173
Name: AVG_stage, dtype: float64